In [ ]:
## Syntax

def function_name(parameters):
    """Docstring"""
    #function body
    return experssion

In [2]:
num = 24

if num%2==0:
    print(f"This is the {num} even number")
else:
    print(f"This is not the {num} even numbers")

This is the 24 even number

In [6]:
def even_or_Odd_numbers(num):
    if num%2==0:
        print(f"This is the {num} even number")
    else:
        print(f"This is the {num} odd numbers")

In [8]:
even_or_Odd_numbers(12)

This is the 12 even number

In [9]:
def add(a,b):
    return a+b

In [15]:
result = add(4,8)
print(result)

12

In [16]:
def greeting(name):
    print(f"Hellow {name} Welcome to the data scientist course")

In [18]:
greeting("vimal")

Hellow vimal Welcome to the data scientist course

In [20]:
greeting()

TypeError: greeting() missing 1 required positional argument: 'name'

In [21]:
def greeting(name="Gust"):
    print(f"Hellow {name} Welcome to the data scientist course")

In [22]:
greeting()

Hellow Gust Welcome to the data scientist course

In [25]:
## Postional aggruments

def numbers (*args):
    for i in args:
        print(f"Postional arguments: {i}")

In [26]:
numbers(1,2,3,4,5,6,7,8,9,10,"Vimal","Haseena","Luna")

Postional arguments: 1
Postional arguments: 2
Postional arguments: 3
Postional arguments: 4
Postional arguments: 5
Postional arguments: 6
Postional arguments: 7
Postional arguments: 8
Postional arguments: 9
Postional arguments: 10
Postional arguments: Vimal
Postional arguments: Haseena
Postional arguments: Luna

In [29]:
##Keys values arguments

def keys (**kyargs):
    for i in kyargs:
        print(f"{i}{kyargs}")

In [30]:
keys(name="vimal", age=27, Job = "Data Scientist")

name{'name': 'vimal', 'age': 27, 'Job': 'Data Scientist'}
age{'name': 'vimal', 'age': 27, 'Job': 'Data Scientist'}
Job{'name': 'vimal', 'age': 27, 'Job': 'Data Scientist'}

In [33]:
def print_details (**kwargs):
    for keys,values in kwargs.items():
        print(f"{keys}: {values}")

In [34]:
print_details(name="vimal", age=27, Job = "Data Scientist")

name: vimal
age: 27
Job: Data Scientist

In [35]:
# Temperature conversation

def conversation(temp,unit):
    if unit=="C":
        return temp*9/5 + 32 ## Celsius to Fahrenheit
    elif unit == "F":
        return (temp-32)*5/9 ## Fahrenheit to Celsius
    else:
        return None

In [38]:
print(conversation(25,"C"))
print(conversation(77, "F"))

77.0
25.0

In [39]:
# Password strength cheker

def is_strong_password(password):
    if len(password)<8:
        return False
    if not any (i.isdigit() for i in password):
        return False
    if not any (i.islower() for i in password):
        return False
    if not any (i.isupper() for i in password):
        return False
    if not any (i in "!@#$%$^&*" for i in password):
        return False
    else:
        return "You have the strong password"

In [42]:
print(is_strong_password("$BPM!2020Cvn"))
print(is_strong_password("vimal12345"))

You have the strong password
False

In [43]:
## ToTal cost of the shopping cart

def total_cost_of_Shopping (cart):
    total_cost = 0
    for i in cart:
        total_cost+=i["Price"]*i["Quantity"]
    return total_cost



cart = [
    {"Name": "PS3", "Price": 13000, "Quantity": 5},
    {"Name": "PS4", "Price": 25000, "Quantity":2},
    {"Name": "PS5", "Price": 55000, "Quantity": 3}
]

print(total_cost_of_Shopping(cart))

280000

In [ ]:
## Syntax

def function_name(parameters):
    """Docstring"""
    #Function body
    return

In [1]:
def even_or_odd(num):
    if num%2==0:
        print("This is the Even number")
    else:
        print("This is the odd number")

In [2]:
even_or_odd(24)

This is the Even number

In [3]:
even_or_odd(13)

This is the odd number

In [5]:
### Variable length arguments
## Positional and keyword arguments

## Positional arguments

def print_numbers(*args):
    for i in args:
        print(i)

In [6]:
print_numbers(1,2,3,4,5,6,7,8,9,"Vimal")

1
2
3
4
5
6
7
8
9
Vimal

In [7]:
## Keyword arguments

def print_details(**kwargs):
    for key,values in kwargs.items():
        print(f"{key}:{values}")

In [8]:
print_details(Name="Vimal", Country = "USA", Age = 27)

Name:Vimal
Country:USA
Age:27

In [1]:
def strong_password(password):
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char in "!@#$%^&_+" for char in password):
        return False
    return True

In [2]:
strong_password("$BPM!2020Cvn")

True

In [4]:
strong_password("Vimal12345")

False

In [9]:
def cart_total_price(cart):
    total_cost = 0

    for item in cart:
        total_cost += item["Price"] * item["Quantity"]

        return total_cost


cart=[
    {"Name": "Iphone", "Price":4500, "Quantity": 5},
    {"Name": "Samsung", "Price":20000, "Quantity": 4},
    {"Name":"Oneplus", "Price":25000, "Quantity": 6}
]

In [12]:
print(cart_total_price(cart))

22500

In [15]:
def isa_palindrome(string):
    string=string.lower().replace(" ", "")
    return string==string[::-1]

print(isa_palindrome("Madam"))
print(isa_palindrome("A man a plan a canal panama"))

True
True

In [16]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n * factorial(n-1)
    
print(factorial(6))

720

In [17]:
print(factorial(10))

3628800

In [18]:
print(factorial(4))

24

In [ ]:
## Lambda functions
## syntax

lambda agruments: Experssion

In [19]:
def addtion(a,b):
    return a+b

In [21]:
addtion(5,4)

9

In [22]:
addtiona1 = lambda a,b: a+b

In [23]:
addtiona1(5,4)

9

In [24]:
def even(num):
    if num%2==0:
        print("This is the even number")

In [25]:
even(12)

This is the even number

In [28]:
even1 = lambda num:num%2==0

In [30]:
even1(12)

True

In [31]:
def addtioan2(x,y,z):
    return x+y+z

In [32]:
addtioan2(8,7,4)

19

In [33]:
addtion2 = lambda x,y,z:x+y+z

In [34]:
addtion2(8,7,4)

19

In [51]:
def square_numbers(numbers):
    for i in numbers:
        return i*i

In [52]:
square_numbers(5)

TypeError: 'int' object is not iterable

In [53]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

In [54]:
##map

In [55]:
def square1(x):
    return x*x

square1(10)

100

In [56]:
numbers = [7,8,9,8,6,4,9,7]

list(map(square1,numbers))

[49, 64, 81, 64, 36, 16, 81, 49]

In [57]:
##Lambda function with map

list(map(lambda x:x*x, numbers))

[49, 64, 81, 64, 36, 16, 81, 49]

In [58]:
## Map multiple iterables

numbers1 = [1,2,3]
numbers2 = [3,5,6]

added_numbers = list(map(lambda x,y: x+y,numbers1,numbers2))

print(added_numbers)

[4, 7, 9]

In [61]:
#Map to convert a list of strings to integer
str_numbers = ['1', '2', '3', "4", '6']
int_numbers = list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 6]

In [62]:
words = ["apple", "bannana", "cherry"]

upper_word = list(map(str.upper, words))

print(upper_word)

['APPLE', 'BANNANA', 'CHERRY']