In [1]:
List = [1,2,3,4,5]
print(List)

[1, 2, 3, 4, 5]

In [3]:
List[4]

5

In [4]:
print(666)

666

In [6]:
print("kamali")

kamali

In [8]:
True + True

2

In [9]:
2 == 2

True

In [10]:
Integer = 18, 80, 20 # Whole Number
String = "Vimal", "Haseena", "Luna" ## any wrods or number under the qution that called string
flot = 44.04, 550.77, 88.22 ## dicimal point are called flot
Blooen = True, False

In [ ]:
#Implesit
a = 10 # Integer
b = 12.2 # Flot
print(a+b)

22.2

In [ ]:
#Explesit
a = "11" #String
a1 = int(a) 
b = 55.22
print(a1+b)

66.22

In [16]:
a = "Vimal"
b = 7
b1 = str(b)
print(a+b1)

Vimal7

In [1]:
#Arthmetic Operators

In [2]:
print(6+7)

13

In [3]:
print(7-4)

3

In [4]:
print(8*8)

64

In [5]:
print(8/4)

2.0

In [6]:
print(8//4)

2

In [7]:
print(25/5)

5.0

In [ ]:
print(25//5) ## Floor divison it will eliminate decimal point

5

In [ ]:
print(2**3) ## Exponentiation of 2 numbers

8

In [12]:
print(2%5)

2

In [13]:
print(5%2)

1

In [14]:
#Python Assignement Operators

In [15]:
x = 5

In [17]:
x = x +3

In [18]:
x

8

In [20]:
a = 3
b = 5

In [22]:
a += b

In [23]:
a

8

In [24]:
x = 5

In [25]:
x += 3

In [26]:
x

8

In [27]:
#Bitwise AND and assign

In [28]:
a = 3
b = 5

In [29]:
a &= b

In [30]:
a

1

In [40]:
a = 7
b = 8

In [41]:
a &= b

In [42]:
a

0

In [43]:
x = 4
y = 5

x |= y

In [44]:
x

5

In [45]:
a = 4
b = 7

a |= b

a

7

In [46]:
x = 3
y = 5

x ^= y

x

6