In [1]:
list = [1,2,3,4,5,6,7,8,9,10]
print(list)
print(type(list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [2]:
names = ["Vimal", "Haseena", "Luna", 1, 3, 4 ,8]
print(names)

['Vimal', 'Haseena', 'Luna', 1, 3, 4, 8]

In [3]:
names[2]

'Luna'

In [4]:
names[5]

4

In [5]:
## Accessing List Elements

fruits = ["Apple", "Bannana", "Cherry", "kiwi", "Guva"]
print(fruits)

['Apple', 'Bannana', 'Cherry', 'kiwi', 'Guva']

In [6]:
fruits[0]

'Apple'

In [7]:
fruits[4]

'Guva'

In [8]:
fruits[1:]

['Bannana', 'Cherry', 'kiwi', 'Guva']

In [9]:
fruits[1:4]

['Bannana', 'Cherry', 'kiwi']

In [10]:
fruits[:-1]

['Apple', 'Bannana', 'Cherry', 'kiwi']

In [11]:
fruits[0:4]

['Apple', 'Bannana', 'Cherry', 'kiwi']

In [12]:
fruits[-1:]

['Guva']

In [13]:
fruits[-3:]

['Cherry', 'kiwi', 'Guva']

In [14]:
### Modifiying the list elements
fruits

['Apple', 'Bannana', 'Cherry', 'kiwi', 'Guva']

In [15]:
fruits[1] = "watermelon"
print(fruits)

['Apple', 'watermelon', 'Cherry', 'kiwi', 'Guva']

In [16]:
##List methods

fruits.append("orange")
print(fruits)

['Apple', 'watermelon', 'Cherry', 'kiwi', 'Guva', 'orange']

In [17]:
fruits.insert(1, "bannana")
print(fruits)

['Apple', 'bannana', 'watermelon', 'Cherry', 'kiwi', 'Guva', 'orange']

In [18]:
fruits.remove("bannana")
fruits

['Apple', 'watermelon', 'Cherry', 'kiwi', 'Guva', 'orange']

In [19]:
pop_fruits=fruits.pop()
print(pop_fruits)
print(fruits)

orange
['Apple', 'watermelon', 'Cherry', 'kiwi', 'Guva']

In [20]:
fruits.index("Cherry")

2

In [21]:
fruits.insert(2,"bannana")
print(fruits)
fruits.count("bannana")
fruits

['Apple', 'watermelon', 'bannana', 'Cherry', 'kiwi', 'Guva']

['Apple', 'watermelon', 'bannana', 'Cherry', 'kiwi', 'Guva']

In [22]:
fruits.remove("bannana")

In [23]:
print(fruits)

['Apple', 'watermelon', 'Cherry', 'kiwi', 'Guva']

In [24]:
fruits.sort()
print(fruits)

['Apple', 'Cherry', 'Guva', 'kiwi', 'watermelon']

In [25]:
fruits.reverse()
print(fruits)

['watermelon', 'kiwi', 'Guva', 'Cherry', 'Apple']

In [26]:
fruits.clear

In [27]:
fruits.clear()
print(fruits)

[]

In [28]:
##Slicing list
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [29]:
fruits = ["Apple", "Bannana", "Cherry", "kiwi", "Guva"]

In [30]:
for i in fruits:
    print(i)

Apple
Bannana
Cherry
kiwi
Guva

In [31]:
##Iterating with index

for index, i in enumerate(fruits):
    print(index,i)

0 Apple
1 Bannana
2 Cherry
3 kiwi
4 Guva

In [32]:
#List comprehension
[i for i in range(1, 11) if i%2==0]

[2, 4, 6, 8, 10]

List Compreshension

Basics Syantax [Expression for item in iterable]

with conditional logic [Expression for item in iterable if conditions]

Nested List Comprehension [Expression for item1 in iterables for item2 in iterables 2]

In [33]:
square = [num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
odd_num = [i for i in range(10) if i%2!=0]
print(odd_num)

[1, 3, 5, 7, 9]

In [35]:
list = ["Vimal", "Haseena", "Luna"]
list1 = [1,2,3]

pair = [(i,j) for i in list for j in list1]

print(pair)

[('Vimal', 1), ('Vimal', 2), ('Vimal', 3), ('Haseena', 1), ('Haseena', 2), ('Haseena', 3), ('Luna', 1), ('Luna', 2), ('Luna', 3)]

In [36]:
list = []
type(list)

list

In [37]:
list = ["Vimal", "Kamal", "Luna", 1, 2 ,3 , 4]
print(list)

['Vimal', 'Kamal', 'Luna', 1, 2, 3, 4]

In [38]:
list[3]

1

In [39]:
mixed = [1 , "Vimal", 0.4, True]
print(mixed)

[1, 'Vimal', 0.4, True]

In [52]:
#### Accessing the list items

frutis = ["apple", "bannana", "Cherry", "Guva", "Kiwi"]

frutis[0]

'apple'

In [53]:
fruits[2]

'Cherry'

In [54]:
fruits[:2]

['Apple', 'Bannana']

In [55]:
frutis [-1]

'Kiwi'

In [59]:
frutis[1:]
frutis[1:3]

['bannana', 'Cherry']

In [60]:
frutis[1] = "Luna"

In [61]:
frutis

['apple', 'Luna', 'Cherry', 'Guva', 'Kiwi']

In [62]:
## List methods

frutis.append("Orange") ## add the iteam to the end
print(frutis)

['apple', 'Luna', 'Cherry', 'Guva', 'Kiwi', 'Orange']

In [63]:
fruits.insert(1, "banana")
print(fruits)

['Apple', 'banana', 'Bannana', 'Cherry', 'kiwi', 'Guva']

In [65]:
frutis.insert(1, "banana")
print(frutis)

['apple', 'banana', 'banana', 'Luna', 'Cherry', 'Guva', 'Kiwi', 'Orange']

In [67]:
## Slicing list

numbers = [1,2,3,4,5,6,7,8,9,74,55]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 74, 55]
[1, 3, 5, 7, 9, 55]
[55, 9, 7, 5, 3, 1]

In [68]:
numbers[::3]

[1, 4, 7, 74]

In [69]:
##Iteration

for i in fruits:
    print(i)

Apple
banana
Bannana
Cherry
kiwi
Guva

In [70]:
for i in numbers:
    print(i)

1
2
3
4
5
6
7
8
9
74
55

In [71]:
for index, i in enumerate(numbers):
    print(i, index)

1 0
2 1
3 2
4 3
5 4
6 5
7 6
8 7
9 8
74 9
55 10

List Compreshension

Basics Syantax [Expression for item in iterable]

with conditional logic [Expression for item in iterable if conditions]

Nested List Comprehension [Expression for item1 in iterables for item2 in iterables 2]

In [72]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
[i+i for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [76]:
[i-i for i in range(10)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [78]:
for i in range (10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [81]:
even_numbers = [if i%2==0 for i in range(10)]
print(even_numbers)

SyntaxError: invalid syntax (2571138711.py, line 1)

In [82]:
list = [1,2,3,4]
list.append(100)
print(list)

[1, 2, 3, 4, 100]

In [89]:
list1 = [10,20,30,40,50]
list1.remove(20)
print(list1)

[10, 30, 40, 50]

In [90]:
len(list1)

4

In [91]:
lis1 = [1,2,3]
lis2 = [4,5,6]

list3 = lis1 + lis2
print(list3)

[1, 2, 3, 4, 5, 6]

In [96]:
numbers = [10, 20, 30, 40, 50]

if 50 in numbers:
    print("The number 50 is in the list")
else:
    print("The number 50 is not in the list")

The number 50 is in the list