In [1]:
for i in range (10):
    print("Vimal Love Luna")

Vimal Love Luna
Vimal Love Luna
Vimal Love Luna
Vimal Love Luna
Vimal Love Luna
Vimal Love Luna
Vimal Love Luna
Vimal Love Luna
Vimal Love Luna
Vimal Love Luna

In [2]:
for i in range (10):
    print(i, "I love Luna")

0 I love Luna
1 I love Luna
2 I love Luna
3 I love Luna
4 I love Luna
5 I love Luna
6 I love Luna
7 I love Luna
8 I love Luna
9 I love Luna

In [3]:
for i in range (2,10):
    print(i,"I love luna")

2 I love luna
3 I love luna
4 I love luna
5 I love luna
6 I love luna
7 I love luna
8 I love luna
9 I love luna

In [4]:
for i in range (1,10,2): # start, stop, step
    print(i,"I love luna")

1 I love luna
3 I love luna
5 I love luna
7 I love luna
9 I love luna

In [5]:
a = "United states of America"

for k in a:
    print(k)

U
n
i
t
e
d

s
t
a
t
e
s

o
f

A
m
e
r
i
c
a

In [6]:
a = "United states of America"

for k in range(len(a)):
    print(a[k])

U
n
i
t
e
d

s
t
a
t
e
s

o
f

A
m
e
r
i
c
a

In [7]:
a = "United states of America"

for k in range(len(a)):
    print(k)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23

In [8]:
a = "India"

for k in range(len(a)):
    print(a[k])

I
n
d
i
a

In [9]:
fruits = ["Apple", "Bannana", "Cherry"]

for i in fruits:
    print(i)

Apple
Bannana
Cherry

In [10]:
for i in range(len(fruits)):
    print(i)

0
1
2

In [11]:
for i in range(len(fruits)):
    print (fruits)

['Apple', 'Bannana', 'Cherry']
['Apple', 'Bannana', 'Cherry']
['Apple', 'Bannana', 'Cherry']

In [12]:
for i in range(20):
    if i ==10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range (20):
    if i==10:
        continue
    print()

In [14]:
for i in range (20):
    if i==10:
        continue
    print()

In [15]:
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [16]:
for i in range(10):
    if i%2==0:
         break
    print(i)

In [17]:
a = 33
b = 220

if b > a:
    print("b is greater than a")
else:
    print("a is less than b")

b is greater than a

In [18]:
for i in ("apple"):
    if i=="l":
        break
    print(i)

a
p
p

In [19]:
for i in range (0, 10, 3):
    if i==6:
        break
    print(i)

0
3

In [20]:
a = "apple"

for i in (a):
    print([i])

['a']
['p']
['p']
['l']
['e']

In [21]:
total_sum = 0

for num in range (1, 101):
    total_sum += num

print(total_sum)

5050

In [22]:
total_sum = 0

for num in range (1, 1000):
    total_sum += num


print("The sum of total numbers from 1 to 1000 is", total_sum)

The sum of total numbers from 1 to 1000 is 499500

In [23]:
numbers = [12,17,24,9,31,18,44,59]

for i in (numbers):
    if i%2==0:
        print(i)

12
24
18
44

In [24]:
for i in range(1, 101):
    if i%2==0:
        print("Even Number is", i)

Even Number is 2
Even Number is 4
Even Number is 6
Even Number is 8
Even Number is 10
Even Number is 12
Even Number is 14
Even Number is 16
Even Number is 18
Even Number is 20
Even Number is 22
Even Number is 24
Even Number is 26
Even Number is 28
Even Number is 30
Even Number is 32
Even Number is 34
Even Number is 36
Even Number is 38
Even Number is 40
Even Number is 42
Even Number is 44
Even Number is 46
Even Number is 48
Even Number is 50
Even Number is 52
Even Number is 54
Even Number is 56
Even Number is 58
Even Number is 60
Even Number is 62
Even Number is 64
Even Number is 66
Even Number is 68
Even Number is 70
Even Number is 72
Even Number is 74
Even Number is 76
Even Number is 78
Even Number is 80
Even Number is 82
Even Number is 84
Even Number is 86
Even Number is 88
Even Number is 90
Even Number is 92
Even Number is 94
Even Number is 96
Even Number is 98
Even Number is 100

In [25]:
a = 10

In [26]:
print(a)

10

In [27]:
total_sum = 0

for p in range (1, 10):
    total_sum += p

print("The sum of total numbers from 1 to 10 is", total_sum)

The sum of total numbers from 1 to 10 is 45

In [28]:
for i in "apple":
    print (i)

a
p
p
l
e

In [29]:
total_score = 0

for i in range (10):
    total_score += i

print ("Total number of the sum is", total_score)

Total number of the sum is 45

In [30]:
for i in range (10):
    print("I love data science")

I love data science
I love data science
I love data science
I love data science
I love data science
I love data science
I love data science
I love data science
I love data science
I love data science

In [31]:
for i in range(100):
    if i%2==0:
        print("Even Number", i)

Even Number 0
Even Number 2
Even Number 4
Even Number 6
Even Number 8
Even Number 10
Even Number 12
Even Number 14
Even Number 16
Even Number 18
Even Number 20
Even Number 22
Even Number 24
Even Number 26
Even Number 28
Even Number 30
Even Number 32
Even Number 34
Even Number 36
Even Number 38
Even Number 40
Even Number 42
Even Number 44
Even Number 46
Even Number 48
Even Number 50
Even Number 52
Even Number 54
Even Number 56
Even Number 58
Even Number 60
Even Number 62
Even Number 64
Even Number 66
Even Number 68
Even Number 70
Even Number 72
Even Number 74
Even Number 76
Even Number 78
Even Number 80
Even Number 82
Even Number 84
Even Number 86
Even Number 88
Even Number 90
Even Number 92
Even Number 94
Even Number 96
Even Number 98

In [32]:
for i in range (1, 100, 2):
    print("Odd Number", i)

Odd Number 1
Odd Number 3
Odd Number 5
Odd Number 7
Odd Number 9
Odd Number 11
Odd Number 13
Odd Number 15
Odd Number 17
Odd Number 19
Odd Number 21
Odd Number 23
Odd Number 25
Odd Number 27
Odd Number 29
Odd Number 31
Odd Number 33
Odd Number 35
Odd Number 37
Odd Number 39
Odd Number 41
Odd Number 43
Odd Number 45
Odd Number 47
Odd Number 49
Odd Number 51
Odd Number 53
Odd Number 55
Odd Number 57
Odd Number 59
Odd Number 61
Odd Number 63
Odd Number 65
Odd Number 67
Odd Number 69
Odd Number 71
Odd Number 73
Odd Number 75
Odd Number 77
Odd Number 79
Odd Number 81
Odd Number 83
Odd Number 85
Odd Number 87
Odd Number 89
Odd Number 91
Odd Number 93
Odd Number 95
Odd Number 97
Odd Number 99

In [33]:
for i in range (100):
    if i%3==0:
        print("Odd Numbers", i)

Odd Numbers 0
Odd Numbers 3
Odd Numbers 6
Odd Numbers 9
Odd Numbers 12
Odd Numbers 15
Odd Numbers 18
Odd Numbers 21
Odd Numbers 24
Odd Numbers 27
Odd Numbers 30
Odd Numbers 33
Odd Numbers 36
Odd Numbers 39
Odd Numbers 42
Odd Numbers 45
Odd Numbers 48
Odd Numbers 51
Odd Numbers 54
Odd Numbers 57
Odd Numbers 60
Odd Numbers 63
Odd Numbers 66
Odd Numbers 69
Odd Numbers 72
Odd Numbers 75
Odd Numbers 78
Odd Numbers 81
Odd Numbers 84
Odd Numbers 87
Odd Numbers 90
Odd Numbers 93
Odd Numbers 96
Odd Numbers 99

In [34]:
Sum_num = 0

for i in range (100):
    Sum_num += i
print("Total Sum of the Numbers is", Sum_num)

Total Sum of the Numbers is 4950

In [35]:
list = ["Apple", "banana", "Cherry"]
print(["banana"] in list)

False

In [36]:
if "Apple" in list:
    print("Yes apple in the list")
else:
    print("No the apple not in the list")

Yes apple in the list

In [1]:
Number_1 = int(input("Enter a number"))
Number_2 = int (input("Enter a number"))
Number_3 = int(input("Enter a number"))

if Number_1>Number_2 and Number_1>Number_2:
    print("Greatest Number is ", Number_1)
elif Number_2>Number_1 and Number_2>Number_3:
    print("Greatest number is", Number_2)
else:
    print("Gratest number is", Number_3)

Greatest number is 35

In [5]:
for i in range (1, 100):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [6]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
Name = "I love myself"

for i in Name:
    print(i)

I

l
o
v
e

m
y
s
e
l
f

In [8]:
for i in range(1, 101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [9]:
for i in range(1,101,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [10]:
for i in range (1, 101):
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [11]:
for i in range(1, 101):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [13]:
Sum_num = 0

for i in range (1, 1001):
    Sum_num += i
    print(Sum_num)

print(f"Sum of total number is {Sum_num}")

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050
5151
5253
5356
5460
5565
5671
5778
5886
5995
6105
6216
6328
6441
6555
6670
6786
6903
7021
7140
7260
7381
7503
7626
7750
7875
8001
8128
8256
8385
8515
8646
8778
8911
9045
9180
9316
9453
9591
9730
9870
10011
10153
10296
10440
10585
10731
10878
11026
11175
11325
11476
11628
11781
11935
12090
12246
12403
12561
12720
12880
13041
13203
13366
13530
13695
13861
14028
14196
14365
14535
14706
14878
15051
15225
15400
15576
15753
15931
16110
16290
16471
16653
16836
17020
17205
17391
17578
17766
17955
18145
18336
18528
18721
18915
19110
19306
19503
19701
19900
20100
20301
20503
20706
20910
21115
21321
21528
21736
21945
22155
22366
22578
22791
23005
23220
23436
23653
23871
24090
24310
24531
24753
24976
25200
25425
25651
25878
26106
26335
26565
26796
27028
27261
27495
27730
27966
28203
28441
28680
28920
29161
29403
29646
29890
30135
30381
30628
30876
31125
31375
31626
31878
32131
32385
32640
32896
33153
33411
33670
33930
34191
34453
34716
34980
35245
35511
35778
36046
36315
36585
36856
37128
37401
37675
37950
38226
38503
38781
39060
39340
39621
39903
40186
40470
40755
41041
41328
41616
41905
42195
42486
42778
43071
43365
43660
43956
44253
44551
44850
45150
45451
45753
46056
46360
46665
46971
47278
47586
47895
48205
48516
48828
49141
49455
49770
50086
50403
50721
51040
51360
51681
52003
52326
52650
52975
53301
53628
53956
54285
54615
54946
55278
55611
55945
56280
56616
56953
57291
57630
57970
58311
58653
58996
59340
59685
60031
60378
60726
61075
61425
61776
62128
62481
62835
63190
63546
63903
64261
64620
64980
65341
65703
66066
66430
66795
67161
67528
67896
68265
68635
69006
69378
69751
70125
70500
70876
71253
71631
72010
72390
72771
73153
73536
73920
74305
74691
75078
75466
75855
76245
76636
77028
77421
77815
78210
78606
79003
79401
79800
80200
80601
81003
81406
81810
82215
82621
83028
83436
83845
84255
84666
85078
85491
85905
86320
86736
87153
87571
87990
88410
88831
89253
89676
90100
90525
90951
91378
91806
92235
92665
93096
93528
93961
94395
94830
95266
95703
96141
96580
97020
97461
97903
98346
98790
99235
99681
100128
100576
101025
101475
101926
102378
102831
103285
103740
104196
104653
105111
105570
106030
106491
106953
107416
107880
108345
108811
109278
109746
110215
110685
111156
111628
112101
112575
113050
113526
114003
114481
114960
115440
115921
116403
116886
117370
117855
118341
118828
119316
119805
120295
120786
121278
121771
122265
122760
123256
123753
124251
124750
125250
125751
126253
126756
127260
127765
128271
128778
129286
129795
130305
130816
131328
131841
132355
132870
133386
133903
134421
134940
135460
135981
136503
137026
137550
138075
138601
139128
139656
140185
140715
141246
141778
142311
142845
143380
143916
144453
144991
145530
146070
146611
147153
147696
148240
148785
149331
149878
150426
150975
151525
152076
152628
153181
153735
154290
154846
155403
155961
156520
157080
157641
158203
158766
159330
159895
160461
161028
161596
162165
162735
163306
163878
164451
165025
165600
166176
166753
167331
167910
168490
169071
169653
170236
170820
171405
171991
172578
173166
173755
174345
174936
175528
176121
176715
177310
177906
178503
179101
179700
180300
180901
181503
182106
182710
183315
183921
184528
185136
185745
186355
186966
187578
188191
188805
189420
190036
190653
191271
191890
192510
193131
193753
194376
195000
195625
196251
196878
197506
198135
198765
199396
200028
200661
201295
201930
202566
203203
203841
204480
205120
205761
206403
207046
207690
208335
208981
209628
210276
210925
211575
212226
212878
213531
214185
214840
215496
216153
216811
217470
218130
218791
219453
220116
220780
221445
222111
222778
223446
224115
224785
225456
226128
226801
227475
228150
228826
229503
230181
230860
231540
232221
232903
233586
234270
234955
235641
236328
237016
237705
238395
239086
239778
240471
241165
241860
242556
243253
243951
244650
245350
246051
246753
247456
248160
248865
249571
250278
250986
251695
252405
253116
253828
254541
255255
255970
256686
257403
258121
258840
259560
260281
261003
261726
262450
263175
263901
264628
265356
266085
266815
267546
268278
269011
269745
270480
271216
271953
272691
273430
274170
274911
275653
276396
277140
277885
278631
279378
280126
280875
281625
282376
283128
283881
284635
285390
286146
286903
287661
288420
289180
289941
290703
291466
292230
292995
293761
294528
295296
296065
296835
297606
298378
299151
299925
300700
301476
302253
303031
303810
304590
305371
306153
306936
307720
308505
309291
310078
310866
311655
312445
313236
314028
314821
315615
316410
317206
318003
318801
319600
320400
321201
322003
322806
323610
324415
325221
326028
326836
327645
328455
329266
330078
330891
331705
332520
333336
334153
334971
335790
336610
337431
338253
339076
339900
340725
341551
342378
343206
344035
344865
345696
346528
347361
348195
349030
349866
350703
351541
352380
353220
354061
354903
355746
356590
357435
358281
359128
359976
360825
361675
362526
363378
364231
365085
365940
366796
367653
368511
369370
370230
371091
371953
372816
373680
374545
375411
376278
377146
378015
378885
379756
380628
381501
382375
383250
384126
385003
385881
386760
387640
388521
389403
390286
391170
392055
392941
393828
394716
395605
396495
397386
398278
399171
400065
400960
401856
402753
403651
404550
405450
406351
407253
408156
409060
409965
410871
411778
412686
413595
414505
415416
416328
417241
418155
419070
419986
420903
421821
422740
423660
424581
425503
426426
427350
428275
429201
430128
431056
431985
432915
433846
434778
435711
436645
437580
438516
439453
440391
441330
442270
443211
444153
445096
446040
446985
447931
448878
449826
450775
451725
452676
453628
454581
455535
456490
457446
458403
459361
460320
461280
462241
463203
464166
465130
466095
467061
468028
468996
469965
470935
471906
472878
473851
474825
475800
476776
477753
478731
479710
480690
481671
482653
483636
484620
485605
486591
487578
488566
489555
490545
491536
492528
493521
494515
495510
496506
497503
498501
499500
500500
Sum of total number is 500500

In [14]:
for i in range (1, 101):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [16]:
for i in range(1, 101):
    if i%3==0:
        break
    print(i)

1
2

In [20]:
count = 0 

while count <=10:
    count = count + 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11

In [21]:
#Counting with a Loop:

for i in range (1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
Sum_even = 0

for i in range(1, 21):
    if i%2==0:
        Sum_even += i
        print(f"The sum of all the even number within the 1 to 20: ", Sum_even)

print(f"The sum of all the even number within the 1 to 20: ", Sum_even)

The sum of all the even number within the 1 to 20:  2
The sum of all the even number within the 1 to 20:  6
The sum of all the even number within the 1 to 20:  12
The sum of all the even number within the 1 to 20:  20
The sum of all the even number within the 1 to 20:  30
The sum of all the even number within the 1 to 20:  42
The sum of all the even number within the 1 to 20:  56
The sum of all the even number within the 1 to 20:  72
The sum of all the even number within the 1 to 20:  90
The sum of all the even number within the 1 to 20:  110
The sum of all the even number within the 1 to 20:  110

In [30]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [33]:
Name = "Hello"

for i in (Name):
    print(i)

H
e
l
l
o

In [37]:
for i in range (1, 11):
    if i==5:
        break
    print(i)
else:
    ("Print all the number")

1
2
3
4

In [40]:
Multiplication = 1

for i in range(1, 11):
    Multiplication *= i
    print(f"The Multiplication of {i} * {Multiplication}")

The Multiplication of 1 * 1
The Multiplication of 2 * 2
The Multiplication of 3 * 6
The Multiplication of 4 * 24
The Multiplication of 5 * 120
The Multiplication of 6 * 720
The Multiplication of 7 * 5040
The Multiplication of 8 * 40320
The Multiplication of 9 * 362880
The Multiplication of 10 * 3628800

In [41]:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [43]:
for i in range(1,20):
    print(f"2 x {i} = {2*i} ")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38

In [44]:
fruits = ['apple', 'banana', 'cherry', 'date']

for i in fruits:
    print(i)

apple
banana
cherry
date

In [47]:
for i in (fruits):
    print(i, (len(fruits)))

apple 4
banana 4
cherry 4
date 4

In [51]:
list = [12, 45, 23, 67, 34, 89, 2]
max_number = list[0]

for num in list:
    if num > max_number:
        max_number = num
print(f"The largest number is {max_number}")

The largest number is 89

In [52]:
row = 5

for i in range (1, row + 1):
    for j in range (i):
        print("*", end="")
    print()

*
**
***
****
*****

In [53]:
rows = 5  # Number of rows for the top half

# Upper triangle (including the middle row)
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

# Lower inverted triangle
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [57]:
stars = 5

for i in range(1, stars + 1):
    print(" "*(stars - i) + "*" * (2*i-1))

for i in range(stars - 1, 0, -1):
    print(" " * (stars - i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [62]:
list =  []

for i in range (1, 101):
    if i%2==0:
        list.append(i)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [63]:
odd = []

for i in range(1, 101):
    if i%2!=0:
        odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]