In [1]:
My_set = {1,2,3,4,5}
print(My_set)

{1, 2, 3, 4, 5}

In [2]:
empty_set =set()
print(empty_set)

set()

In [3]:
My_set.add(6)
print(My_set)

{1, 2, 3, 4, 5, 6}

In [5]:
POP_set = My_set.pop()
print(POP_set)
print(My_set)

2
{3, 4, 5, 6}

In [7]:
My_set.add(1)
print(My_set)

{1, 3, 4, 5, 6}

In [8]:
My_set.add(2)
print(My_set)

{1, 3, 4, 5, 6, 2}

In [9]:
My_set.remove(5)
print(My_set)

{1, 3, 4, 6, 2}

In [10]:
My_set.remove(10)

KeyError: 10

In [11]:
My_set.discard(20)

In [14]:
##Union 

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

set3 = set1.union(set2)
print(set3)

#Interscetpion

set4 = set1.intersection(set2)
print(set4)

#Intersection Updated

set5 = set1.intersection_update(set2)
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
None

In [15]:
set4

{4, 5, 6}

In [16]:
##Differents
set1 = {1,2,3,4,5,7,8,9}
set2 = {2,4,88,7,5,3,69,8}

print(set.difference(set2))

{2, 3, 4, 69, 5, 7, 8, 88}

In [17]:
set1

{1, 2, 3, 4, 5, 7, 8, 9}

In [18]:
set2

{2, 3, 4, 5, 7, 8, 69, 88}

In [19]:
##Symmetric different

print(set1.symmetric_difference(set2))

{1, 69, 9, 88}

In [22]:
lst = [1,2,3,4,5,6,4,1,2,5,8,6,21,1,0,2,3,5,4,8,
       5,6,4,1,12,4,5,25,210,2,52,4
       ,5,2,2,75,5,5]

In [23]:
print(set(lst))

{0, 1, 2, 3, 4, 5, 6, 8, 75, 12, 210, 52, 21, 25}

In [28]:
##Count the each words

text = "I will be become the data scientist in 2025"
words = text.split()

Unique_words =set(words)
print(f"This is the unique words for the sentences: {Unique_words}")
print(f"The total number of the words: ", {len(Unique_words)})

This is the unique words for the sentences: {'I', 'be', 'will', '2025', 'scientist', 'data', 'become', 'in', 'the'}
The total number of the words:  {9}

In [25]:
words

['I', 'will', 'be', 'become', 'the', 'data', 'scientist', 'in', '2025']