# Module 3: Data Structures Assignments
## Lesson 3.1: Lists


























### Assignment 14: List Rotation

Write a function that rotates a list by n positions. Print the original and rotated lists.

In [1]:
### Assignment 1: Creating and Accessing Lists

#Create a list of the first 20 positive integers. Print the list.

luna = list(range(1, 21))
print(type(luna))
print(luna)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [2]:
### Assignment 2: Accessing List Elements

#Print the first, middle, and last elements of the list created in Assignment 1.

print(luna[0])
print(luna[10])
print(luna[-1])

1
11
20

In [7]:
### Assignment 3: List Slicing

#Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

print(luna[:5])
print(luna[-5:])
print(luna[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [9]:
### Assignment 4: List Comprehensions

#Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

square = [i**2 for i in range(1, 10)]

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
### Assignment 5: Filtering Lists

#Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

even_numbers = [i for i in luna if i%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
### Assignment 6: List Methods

#Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

import random

random_numbers = random.choices(range(1, 21), k=10)
print("Original random numbers:", random_numbers)

unique_values = sorted(set(random_numbers))
print("Removed the duplicated numbers and soreted the values by ascending ordrer:", unique_values )

descending_order = sorted(unique_values, reverse=True)
print("Descendning order:", descending_order)

Original random numbers: [19, 17, 17, 19, 12, 2, 1, 7, 7, 11]
Removed the duplicated numbers and soreted the values by ascending ordrer: [1, 2, 7, 11, 12, 17, 19]
Descendning order: [19, 17, 12, 11, 7, 2, 1]

In [34]:
### Assignment 7: Nested Lists

#Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

nested_list = [[1,2,3],
               [4,5,6],
               [7,8,9]]

print("3*3 matrix")

for i in nested_list:
    print(i)

3*3 matrix
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [39]:
print(nested_list[1][2])

6

In [46]:
### Assignment 8: List of Dictionaries

#Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. 
# Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

students = [
    {"Name": "Vimal", "Score": 98},
    {"Name": "Varun", "Score": 86},
    {"Name": "Haseena", "Score": 89},
    {"Name": "Luna", "Score": 78},
    {"Name": "Manikandan", "Score": 74},
    {"Name": "Abdulraham", "Score": 73},
    {"Name": "Kanann", "Score": 72}
]

# Sorting the list in descending order based on 'Score'
students.sort(key=lambda x: x["Score"], reverse=True)

# Printing the sorted list
print("Sorted List of Students (Descending Order by Score):")
for student in students:
    print(student)

Sorted List of Students (Descending Order by Score):
{'Name': 'Vimal', 'Score': 98}
{'Name': 'Haseena', 'Score': 89}
{'Name': 'Varun', 'Score': 86}
{'Name': 'Luna', 'Score': 78}
{'Name': 'Manikandan', 'Score': 74}
{'Name': 'Abdulraham', 'Score': 73}
{'Name': 'Kanann', 'Score': 72}

In [ ]:
### Assignment 9: Matrix Transposition

#Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [47]:
def transposition_matrix(matrix):
     return [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]

In [48]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]

]

print("3*3 matrix")

for i in matrix:
    print(i)

transpositioned = transposition_matrix(matrix)

print("Transposition matrixed")

for i in transpositioned:
    print (i)

3*3 matrix
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposition matrixed
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [49]:
### Assignment 10: Flattening a Nested List

#Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

def flattens(nested_list1):
    return [item for sublist in nested_list for item in sublist]

In [50]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]

]

print("nested_list 3*3")
for i in matrix:
    print (i)

flattensers = flattens(matrix)

print("Flattens")
print(flattensers)

nested_list 3*3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Flattens
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
### Assignment 11: List Manipulation

#Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. 
# Print the modified list.

In [59]:
postive_numbers = list(range(1, 21))
print("Postive_numbers")
print(postive_numbers)

Postive_numbers
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
print(postive_numbers.remove(2))

ValueError: list.remove(x): x not in list

In [66]:
print(postive_numbers.remove(6))

None

In [64]:
print(postive_numbers.remove(4))

None

In [67]:
postive_numbers

[1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [68]:
postive_numbers[5]= 99
print(postive_numbers)

[1, 3, 5, 7, 8, 99, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [71]:
### Assignment 12: List Zipping

#Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

ls1 = list(range(1,7))
ls2 = ["a", "b", "c", "d", "e", "f"]
print(ls1)
print(ls2)

zipfile = list(zip(ls1,ls2))
print(zipfile)

[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 'd', 'e', 'f']
[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e'), (6, 'f')]

In [75]:
### Assignment 13: List Reversal

#Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

def reverse_list (list):
    return list[::-1]

In [76]:
ls1

[1, 2, 3, 4, 5, 6]

In [79]:
reversed_order = reverse_list(ls1)

print("Orginal list:", ls1)
print("reversal list:", reversed_order)

Orginal list: [1, 2, 3, 4, 5, 6]
reversal list: [6, 5, 4, 3, 2, 1]

In [ ]:
### Assignment 15: List Intersection

#Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. 
# Print the intersected list.

In [90]:
def bothlist(lst1,lst2):
    return [i for i in lst1 if i in lst2]

In [91]:
ls1 = list(range(1,8))
ls2 = list(range(1,10))

print(ls1)
print(ls2)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
both_containlist = bothlist(ls1,ls2)
print(both_containlist)

[1, 2, 3, 4, 5, 6, 7]

In [93]:
def common_list(lst1,lst2):
    return list(set(lst1) & set(lst2))

In [95]:
commonlist = common_list(ls1,ls2)
print(commonlist)

[1, 2, 3, 4, 5, 6, 7]