# Module 3: Data Structures Assignments

In [5]:
### Assignment 1: Creating and Accessing Sets

#Create a set with the first 10 positive integers. Print the set.

se1 = set(range(1, 11))
print(se1)
print(type(se1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [6]:
### Assignment 2: Adding and Removing Elements

#Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

se1.remove(1)
print("Removed the elements 1 from the set")
print(se1)
se1.add(11)
print("Added the 11 elements in the set")
print(se1)

Removed the elements 1 from the set
{2, 3, 4, 5, 6, 7, 8, 9, 10}
Added the 11 elements in the set
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:

### Assignment 3: Set Operations

#Create two sets: one with the first 5 positive integers and another with the first 5 even integers. 
# Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [12]:
positive_integers = {1, 2, 3, 4, 5}
even_integers = {2, 4, 6, 8, 10}

# Print the sets
print("First 5 Positive Integers:", positive_integers)
print("First 5 Even Integers:", even_integers)

First 5 Positive Integers: {1, 2, 3, 4, 5}
First 5 Even Integers: {2, 4, 6, 8, 10}

In [18]:
union = positive_integers|even_integers
print("only the union numbers in the both sets:", union)
intersection = positive_integers & even_integers
print("Intersection for both set:", intersection)
difference = positive_integers - even_integers
print("difference of both sets:", difference)
symmetric = positive_integers ^ even_integers
print("only the symmetrice values:", symmetric)

only the union numbers in the both sets: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection for both set: {2, 4}
difference of both sets: {1, 3, 5}
only the symmetrice values: {1, 3, 5, 6, 8, 10}

In [19]:
### Assignment 4: Set Comprehensions

#Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

square_num = {i for i in range(1, 21) if i%2==0}
print(square_num)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [ ]:
### Assignment 5: Filtering Sets

#Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [20]:
only_even_numbers = {i for i in se1 if i%2==0}
print(only_even_numbers)

{2, 4, 6, 8, 10}

In [23]:
### Assignment 6: Set Methods

#Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

se1 = [1,2,2,3,3,4,5,6,7,8,9,1,0,2,3,4,5,6,4]
print(se1)

remove_duplicates = set(se1)
print(remove_duplicates)

[1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 1, 0, 2, 3, 4, 5, 6, 4]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
### Assignment 7: Subsets and Supersets

#Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. 
#Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

se1 = set(range(1, 6))
se2 = set(range(1,4))
print(se1)
print(se2)

{1, 2, 3, 4, 5}
{1, 2, 3}

In [26]:
### Assignment 8: Frozenset

#Create a frozenset with the first 5 positive integers. Print the frozenset.

postive = frozenset({1,2,3,4,5})
print("Frozenset:", postive)

Frozenset: frozenset({1, 2, 3, 4, 5})

In [30]:
### Assignment 9: Set and List Conversion

#Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. 
# Print the resulting set.

se1 = set(range(1, 6))
print(se1)
print(type(se1))

se2 = list(se1)
print(se2)
print(type(se2))

se2.append(6)
print(se2)

se3 = set(se2)
print(se3)
print(type(se3))

{1, 2, 3, 4, 5}
<class 'set'>
[1, 2, 3, 4, 5]
<class 'list'>
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}
<class 'set'>

In [37]:
### Assignment 10: Set and Dictionary

#Create a dictionary with set keys and integer values. Print the dictionary.

dict_with_frozenset_keys = {
    frozenset({1, 2}): 10,
    frozenset({3, 4}): 20,
    frozenset({5, 6}): 30
}

print("Dictionary with frozenset keys:", dict_with_frozenset_keys)

Dictionary with frozenset keys: {frozenset({1, 2}): 10, frozenset({3, 4}): 20, frozenset({5, 6}): 30}

In [38]:
### Assignment 11: Iterating Over Sets

#Create a set and iterate over the elements, printing each element.

num = set(range(1, 21))
print(num)
print(type(num))

for i in num:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
<class 'set'>
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [40]:
### Assignment 12: Removing Elements from Sets

#Create a set and remove elements from it until it is empty. Print the set after each removal.

num1 = set(range(1, 21))
print(type(num1))
print(num1)

while num1:
    removed_elements = num1.pop()
    print(f"Removed elements: {removed_elements}, remaining elements:{num1}")

print(f"final elements:{num1}")

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 1, remaining elements:{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 2, remaining elements:{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 3, remaining elements:{4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 4, remaining elements:{5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 5, remaining elements:{6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 6, remaining elements:{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 7, remaining elements:{8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 8, remaining elements:{9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 9, remaining elements:{10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 10, remaining elements:{11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 11, remaining elements:{12, 13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 12, remaining elements:{13, 14, 15, 16, 17, 18, 19, 20}
Removed elements: 13, remaining elements:{14, 15, 16, 17, 18, 19, 20}
Removed elements: 14, remaining elements:{15, 16, 17, 18, 19, 20}
Removed elements: 15, remaining elements:{16, 17, 18, 19, 20}
Removed elements: 16, remaining elements:{17, 18, 19, 20}
Removed elements: 17, remaining elements:{18, 19, 20}
Removed elements: 18, remaining elements:{19, 20}
Removed elements: 19, remaining elements:{20}
Removed elements: 20, remaining elements:set()
final elements:set()

In [ ]:
### Assignment 13: Set Symmetric Difference Update

#Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [41]:
set1 = {1,2,3,4,5}
set2 = {2,7,8,4,9}

set1.symmetric_difference_update(set2)

print(f"Final result after applied symmetric difference updated: {set1}")

Final result after applied symmetric difference updated: {1, 3, 5, 7, 8, 9}

In [42]:
### Assignment 14: Set Membership Testing

#Create a set and test if certain elements are present in the set. Print the results.

if 5 in set1:
    print(f"Yes this elements in set in: {5}")
else:
    print(f"No this elements not in set1 {5}")

Yes this elements in set in: 5

In [44]:
### Assignment 15: Set of Tuples

#Create a set containing tuples, where each tuple contains two elements. Print the set.

set3 = {(1,2),(2,4),(4,5)}
print(set3)
print(type(set3))

{(4, 5), (1, 2), (2, 4)}
<class 'set'>