In [12]:
s = set(range(1, 11))

print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
s.add(11)
s.remove(1)

KeyError: 1

In [15]:
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
### Assignment 3: Set Operations

#Create two sets: one with the first 5 positive integers and another with the first 5 even integers. 
# Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [17]:
set_1 = set(range(1, 6))
set_2 = set(range(2, 11, 2))

print(f"Union: {set_1 | set_2}")
print(f"Intersection: {set_1 & set_2}")
print(f" Differential: {set_1 - set_2}")
print(f"symmetric: {set_1 ^ set_2}")

Union: {1, 2, 3, 4, 5} | {2, 4, 6, 8, 10}: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
 Differential: {1, 3, 5}
symmetric: {1, 3, 5, 6, 8, 10}

In [21]:
### Assignment 4: Set Comprehensions

#Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

set1 = set(range(2, 20))

square_set = {i for i in set1 if i**2}

print(square_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [22]:
### Assignment 5: Filtering Sets

#Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

even_numbers = {i for i in s if i%2==0}

print(even_numbers)

{2, 4, 6, 8, 10}

In [23]:
### Assignment 6: Set Methods

#Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

duplicates_numbers = {12,3,45,6,574,8,4,21,236,5,4,7,8,9,8,7,6,4,7,5,6,7}

No_duplicates_numbers = set(duplicates_numbers)

print(No_duplicates_numbers)

{3, 4, 5, 6, 7, 8, 9, 12, 45, 236, 21, 574}

In [ ]:
### Assignment 7: Subsets and Supersets

#Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. 
# Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [25]:
firs_set = set(range(2, 6))
second_set = set(range(2, 5))

In [27]:
print(f"fist_set: {firs_set.issubset(second_set)}")
print(f"second_set: {second_set.issuperset(firs_set)}")

fist_set: False
second_set: False

In [28]:
print(firs_set)

{2, 3, 4, 5}

In [29]:
print(second_set)

{2, 3, 4}

In [30]:
print(f"second_set: {second_set.issubset(firs_set)}")

second_set: True

In [31]:
### Assignment 8: Frozenset

#Create a frozenset with the first 5 positive integers. Print the frozenset.

fs = frozenset(range(2, 11))

print(fs)

frozenset({2, 3, 4, 5, 6, 7, 8, 9, 10})

In [33]:
### Assignment 9: Set and List Conversion

#Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. 
# Print the resulting set.

set5 = set(range(5, 10))
print(set5)

{5, 6, 7, 8, 9}

In [34]:
list1 = list(set5)
print(list1)

[5, 6, 7, 8, 9]

In [35]:
list1.append(6)

In [36]:
print(list1)

[5, 6, 7, 8, 9, 6]

In [37]:
set6 = set(list1)
print(set6)

{5, 6, 7, 8, 9}

In [40]:
### Assignment 10: Set and Dictionary

#Create a dictionary with set keys and integer values. Print the dictionary.

dictionary = {
   frozenset({1, 2}):3,
   frozenset({4, 5}):6,
   frozenset({9, 11}):10
}

print(dictionary)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({9, 11}): 10}

In [ ]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

In [41]:
### Assignment 11: Iterating Over Sets

#Create a set and iterate over the elements, printing each element.

In [44]:
luna = set(range(1, 10))
print(luna)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
for i in luna:
    print(i)

1
2
3
4
5
6
7
8
9

In [47]:
### Assignment 12: Removing Elements from Sets

#Create a set and remove elements from it until it is empty. Print the set after each removal.

while luna:
    luna.pop()
    print(luna)

{2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7, 8, 9}
{5, 6, 7, 8, 9}
{6, 7, 8, 9}
{7, 8, 9}
{8, 9}
{9}
set()

In [48]:
### Assignment 13: Set Symmetric Difference Update

#Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

print(f"Set1 ^ Set6: {set1 ^ set6}")

Set1 ^ Set6: {2, 3, 4, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [49]:

### Assignment 14: Set Membership Testing

#Create a set and test if certain elements are present in the set. Print the results.

membership = set(range(1, 11))

print(12 in membership)
print(5 in membership)

False
True

In [50]:

### Assignment 15: Set of Tuples

##Create a set containing tuples, where each tuple contains two elements. Print the set.

var = {(2,4), (5,6), (7,8)}
print(var)

{(2, 4), (5, 6), (7, 8)}