In [1]:
### Assignment 1: Creating and Accessing Tuples

#Create a tuple with the first 10 positive integers. Print the tuple.

var = tuple(range(1, 11))

print(var)
print(type(var))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [3]:
### Assignment 2: Accessing Tuple Elements

#Print the first, middle, and last elements of the tuple created in Assignment 1.

print("First Elements:", var[0])
print("Middle Elements:", var[5])
print("Last Elements:", var[-1])

First Elements: 1
Middle Elements: 6
Last Elements: 10

In [17]:
### Assignment 3: Tuple Slicing

#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print("First Three Elements:", var[:3])
print("Last Three Elements:", var[7:])
print("The Elements from index 2 to 5:", var[2:5])

First Three Elements: (1, 2, 3)
Last Three Elements: (8, 9, 10)
The Elements from index 2 to 5: (3, 4, 5)

In [23]:
### Assignment 4: Nested Tuples

#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in matrix:
    print(row)

print("Element at the second row and third colum:", matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at the second row and third colum: 6

In [24]:
### Assignment 5: Tuple Concatenation

#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tpl1 = (1,2,3)
tpl2 = (4,5,6)

tpl3 = tpl1 + tpl2

print("Tuple1:", tpl1)
print("Tuple2:", tpl2)
print("Concatenate Two tuples:", tpl3)

Tuple1: (1, 2, 3)
Tuple2: (4, 5, 6)
Concatenate Two tuples: (1, 2, 3, 4, 5, 6)

In [27]:
### Assignment 6: Tuple Methods

# Create a tuple with duplicate elements and count the occurrences of an element. 
# Find the index of the first occurrence of an element in the tuple.

varcar = (1,2,2,3,3,4,4,4,4,5,6)
print(type(varcar))
print("Count the occurrences of an element:", {varcar.count(4)})
print("index of the first occurrence of an element:", {varcar.index(2)})

<class 'tuple'>
Count the occurrences of an element: {4}
index of the first occurrence of an element: {1}

In [28]:
### Assignment 7: Unpacking Tuples

#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

tpl = (1,2,3,4,5)

a, b, c, d, e = tpl

print(a, b, c, d, e)

1 2 3 4 5

In [29]:
### Assignment 8: Tuple Conversion

#Convert a list of the first 5 positive integers to a tuple. Print the tuple.

tpl = list(range(1,6))
print(tpl)
print(type(tpl))

tuple1 = tuple(tpl)
print(tuple1)
print(type(tuple1))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

In [31]:
### Assignment 9: Tuple of Tuples

#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tuple_contain = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tuple_contain)

for i in tuple_contain:
    print (i)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [32]:
### Assignment 10: Tuple and List

##Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. 
# Print the resulting tuple.

tpl = tuple(range(1, 6))
print(tpl)
print(type(tpl))

lst = list(tpl)
print(lst)
print(type(lst))

lst.append(6)
print(lst)

tpl1 = tuple(lst)
print(tpl1)
print(type(tpl1))

(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [33]:
### Assignment 11: Tuple and String

#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

string = "Vimal"
tpl = tuple(string)
joined_string = "".join(tpl)
print(joined_string)
print(type(joined_string))

Vimal
<class 'str'>

In [34]:
string

'Vimal'

In [36]:
### Assignment 12: Tuple and Dictionary

#Create a dictionary with tuple keys and integer values. Print the dictionary.

dictionary_tuples = {
    (1, 2):3,
    (4, 5):6,
    (7, 8):9
}

print(dictionary_tuples)
print(type(dictionary_tuples))

for i in dictionary_tuples:
    print(i)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}
<class 'dict'>
(1, 2)
(4, 5)
(7, 8)

In [52]:
### Assignment 13: Nested Tuple Iteration

#Create a nested tuple and iterate over the elements, printing each element.

tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)


for i in tpl:
    for elem in i:
        print(elem)

1
2
3
4
5
6
7
8
9

In [55]:
### Assignment 14: Tuple and Set

#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

tpl1 = (1,2,3,4,4,5,7,7,8,9,56,4,7,78,9,6,6,9,7,5,6,4)
print(tpl1)
print(type(tpl1))

set1 = set(tpl1)
print(set1)
print(type(set1))

(1, 2, 3, 4, 4, 5, 7, 7, 8, 9, 56, 4, 7, 78, 9, 6, 6, 9, 7, 5, 6, 4)
<class 'tuple'>
{1, 2, 3, 4, 5, 6, 7, 8, 9, 78, 56}
<class 'set'>

In [56]:
### Assignment 15: Tuple Functions

#Write functions that take a tuple and return the minimum, maximum, and sum of the elements. 
# Print the results for a sample tuple.

def function_tuple(tpl):
    return min(tpl)

def function_tuple1(tpl):
    return max(tpl) 

def function_tuple2(tpl):
    return sum(tpl)

In [57]:
tpl = tuple(range(1, 11))
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [58]:
print("Minimum of tuple:",{function_tuple(tpl)})
print("Maximium of tuple:", {function_tuple1(tpl)})
print("Sum of the elements:", {function_tuple2(tpl)})

Minimum of tuple: {1}
Maximium of tuple: {10}
Sum of the elements: {55}