In [3]:
empty_dict = {}

print(type(empty_dict))

<class 'dict'>

In [4]:
dict = dict()

print(dict)

{}

In [5]:
student = {"Name": "Vimal", "Age": 27, "Location": "Chennai"}
print(student)
print(type(student))

{'Name': 'Vimal', 'Age': 27, 'Location': 'Chennai'}
<class 'dict'>

In [6]:
student["Name"] = "Varun"

In [7]:
student

{'Name': 'Varun', 'Age': 27, 'Location': 'Chennai'}

In [9]:
student.pop("Name")
print(student)

{'Age': 27, 'Location': 'Chennai'}

In [10]:
print(student["Age"])

27

In [13]:
print(student.get("Age"))
print(student.get("Name"))
print(student.get("Name", "Not avaliable"))

27
None
Not avaliable

In [14]:
#Modifying Dictionary Elements
##Dictionary are mutable, so you can add, delete and update
student["Age"] = 26 ## Updated the values
print(student)
student["Name"] = "Vimal" ## added the new key values
print(student)

{'Age': 26, 'Location': 'Chennai'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal'}

In [15]:
## Dictionary Methods

keys = student.keys()
print(keys)

values = student.values()
print(values)

Key_vlaues = student.items()
print(Key_vlaues)

dict_keys(['Age', 'Location', 'Name'])
dict_values([26, 'Chennai', 'Vimal'])
dict_items([('Age', 26), ('Location', 'Chennai'), ('Name', 'Vimal')])

In [17]:
##Shallow copy
student_copy = student
print(student_copy)
print(student)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal'}

In [18]:
student["Job position"] = "Data Scientist"
print(student)
print(student_copy)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}

In [19]:
student_copy1 = student.copy()
print(student)
print(student_copy1)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}

In [20]:
student["Salary"] = 10,000,000.00
print(student)
print(student_copy1)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist', 'Salary': (10, 0, 0.0)}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}

In [23]:
## Itearting the over dictionary

for i in student.keys():
    print(i)

Age
Location
Name
Job position
Salary

In [24]:
for i in student.values():
    print(i)

26
Chennai
Vimal
Data Scientist
(10, 0, 0.0)

In [25]:
for i in student.items():
    print(i)

('Age', 26)
('Location', 'Chennai')
('Name', 'Vimal')
('Job position', 'Data Scientist')
('Salary', (10, 0, 0.0))

In [26]:
for keys, values in student.items():
    print(f"{keys}:{values}")

Age:26
Location:Chennai
Name:Vimal
Job position:Data Scientist
Salary:(10, 0, 0.0)