In [3]:
empty_dict = {}

print(type(empty_dict))

<class 'dict'>

In [4]:
dict = dict()

print(dict)

{}

In [5]:
student = {"Name": "Vimal", "Age": 27, "Location": "Chennai"}
print(student)
print(type(student))

{'Name': 'Vimal', 'Age': 27, 'Location': 'Chennai'}
<class 'dict'>

In [6]:
student["Name"] = "Varun"

In [7]:
student

{'Name': 'Varun', 'Age': 27, 'Location': 'Chennai'}

In [9]:
student.pop("Name")
print(student)

{'Age': 27, 'Location': 'Chennai'}

In [10]:
print(student["Age"])

27

In [13]:
print(student.get("Age"))
print(student.get("Name"))
print(student.get("Name", "Not avaliable"))

27
None
Not avaliable

In [14]:
#Modifying Dictionary Elements
##Dictionary are mutable, so you can add, delete and update
student["Age"] = 26 ## Updated the values
print(student)
student["Name"] = "Vimal" ## added the new key values
print(student)

{'Age': 26, 'Location': 'Chennai'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal'}

In [15]:
## Dictionary Methods

keys = student.keys()
print(keys)

values = student.values()
print(values)

Key_vlaues = student.items()
print(Key_vlaues)

dict_keys(['Age', 'Location', 'Name'])
dict_values([26, 'Chennai', 'Vimal'])
dict_items([('Age', 26), ('Location', 'Chennai'), ('Name', 'Vimal')])

In [17]:
##Shallow copy
student_copy = student
print(student_copy)
print(student)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal'}

In [18]:
student["Job position"] = "Data Scientist"
print(student)
print(student_copy)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}

In [19]:
student_copy1 = student.copy()
print(student)
print(student_copy1)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}

In [20]:
student["Salary"] = 10,000,000.00
print(student)
print(student_copy1)

{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist', 'Salary': (10, 0, 0.0)}
{'Age': 26, 'Location': 'Chennai', 'Name': 'Vimal', 'Job position': 'Data Scientist'}

In [23]:
## Itearting the over dictionary

for i in student.keys():
    print(i)

Age
Location
Name
Job position
Salary

In [24]:
for i in student.values():
    print(i)

26
Chennai
Vimal
Data Scientist
(10, 0, 0.0)

In [25]:
for i in student.items():
    print(i)

('Age', 26)
('Location', 'Chennai')
('Name', 'Vimal')
('Job position', 'Data Scientist')
('Salary', (10, 0, 0.0))

In [26]:
for keys, values in student.items():
    print(f"{keys}:{values}")

Age:26
Location:Chennai
Name:Vimal
Job position:Data Scientist
Salary:(10, 0, 0.0)

In [1]:
##Nested dictionary

student = {
    "Student1":{"name": "Vimal", "Age": 27, "Job": "Data Scientist"},
    "Student2":{"name": "Varun", "Age":26, "Job": "Data Analaysit"},
    "Student3":{"name": "Surya", "Age":26, "Job": "Data Engineer"}
}

print(student)

{'Student1': {'name': 'Vimal', 'Age': 27, 'Job': 'Data Scientist'}, 'Student2': {'name': 'Varun', 'Age': 26, 'Job': 'Data Analaysit'}, 'Student3': {'name': 'Surya', 'Age': 26, 'Job': 'Data Engineer'}}

In [2]:
## Accessing the elements in the nested dictionary
print(student["Student1"]["name"])
print(student["Student2"]["Age"])
print(student["Student3"]["Job"])

Vimal
26
Data Engineer

In [4]:
##Iterating over nested dictionaries

for student_id, student_info in student.items():
    print(f"{student_id}:{student_info}")
    for keys,values in student_info.items():
        print(f'{keys}:{values}')

Student1:{'name': 'Vimal', 'Age': 27, 'Job': 'Data Scientist'}
name:Vimal
Age:27
Job:Data Scientist
Student2:{'name': 'Varun', 'Age': 26, 'Job': 'Data Analaysit'}
name:Varun
Age:26
Job:Data Analaysit
Student3:{'name': 'Surya', 'Age': 26, 'Job': 'Data Engineer'}
name:Surya
Age:26
Job:Data Engineer

In [6]:
## Dictionary comphrenshension

square = {i:i**2 for i in range(10)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [7]:
even_numbers = {i:i**2 for i in range(10) if i%2==0}
print(even_numbers)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [8]:
odd_numbers = {x:x**2 for x in range(10) if x%2!=0}
print(odd_numbers)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [12]:
## use a dictionary to count the frequency of elements in list

numbers = [1,1,1,2,2,2,3,3,3,3,4,4,4,7,7,8,66,47,85,4,
4,78,85,4,4,1,12,4,
4,51,1,8]

frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 5, 2: 3, 3: 4, 4: 9, 7: 2, 8: 2, 66: 1, 47: 1, 85: 2, 78: 1, 12: 1, 51: 1}

In [14]:
numbers = [1,1,1,2,2,2,3,3,3,3,4,4,4,7,7,8,66,47,85,4,
4,78,85,4,4,1,12,4,
4,51,1,8, 100,101,111,1,2,4,5,8,9,36.,3,5,4.9,7,8,98,57,7]

count = {}

for i in numbers:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

{1: 6, 2: 4, 3: 5, 4: 10, 7: 4, 8: 4, 66: 1, 47: 1, 85: 2, 78: 1, 12: 1, 51: 1, 100: 1, 101: 1, 111: 1, 5: 2, 9: 1, 36.0: 1, 4.9: 1, 98: 1, 57: 1}