In [1]:
## Data Types
## Integer, String, Float, Boolean

In [2]:
##Integer Examples
age = 26
print(age, type(age))

26 <class 'int'>

In [4]:
##String Examples
Name = "Vimal"
print(Name, type(Name))

Vimal <class 'str'>

In [5]:
## Floating Examples
Height = 6.2
print(Height, type(Height))

6.2 <class 'float'>

In [10]:
## Boolean Examples

bool()
a=10
b=10
a==b 
print(type(a==b))

<class 'bool'>

In [14]:
Add = "Hello Vimal"+ "26"
print(Add)

Hello Vimal26

In [17]:
## Arthimetic Opeartors

a = 9
b = 7

add_result = a+b #add
Different_result = a-b #Substracting
Multiplication = a*b
Division = a/b
floor_division = a//b
exponetional = a**b

print(add_result)
print(Different_result)
print(Multiplication)
print(Division)
print(floor_division)
print(exponetional)

16
2
63
1.2857142857142858
1
4782969

In [18]:
##Commeration Operator
## Equal to ==, Not equal to !=, Greater than >, Lesser than <, Greater than or equal to >=, Lesser than or equal to <=

In [19]:
a = 10
b = 5

print(a==b)

False

In [20]:
#Not Equal to

a!=b

True

In [21]:
#Greater Than >

a>b

True

In [22]:
#Lesser than <

a<b

False

In [24]:
#Greater than or Equal to 

a>=b

True

In [25]:
#Lesser than or equal to 

a<=b

False

In [27]:
# Create a simple calculator to find out all the commperation operator

num1 = int(input("Enter a any number"))
num2 = int(input("Enter a any number"))

#Equal to ==

print(num1==num2)

#Not equal to !=
print(num1!=num2)

#Greater than

print(num1>num2)

#Lesser than

print(num1<num2)

#Greater than or equal too

print(num1>=num2)

#Lesser than or equal too

print(num1<=num2)

False
True
False
True
False
True

Logical Operator
 - And
 - OR
- Not

In [31]:
X = True
Y = True

Result = X and Y

print(Result)

True

In [32]:
X = False
Y = True

Result = X and Y

print(Result)

False

In [33]:
X = False
Y = False

Result = X and Y

print(Result)

False

In [34]:
A = False
B = False

Result = A or B
 
print(Result)

False

In [35]:
A = True
B = False

Result = A or B
 
print(Result)

True

In [36]:
A = False
B = True

Result = A or B
 
print(Result)

True

In [37]:
A = True
B = True

Result = A or B
 
print(Result)

True

In [38]:
O = True
not O

False